.SignUpForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 70vh;
  margin: 0 auto;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-text {
  text-decoration: underline;
  text-decoration-color: rgb(243, 70, 70);
  text-underline-position: under;
}

.signup-label {
  font-size: 25px;
  font-family: "Bangers", cursive;
}

.signup-input {
  border-color: rgb(243, 70, 70);
  border-style: solid;
  font-size: 15px;
  padding-left: 5%;
}

.signup-button {
  background-color: rgb(243, 70, 70);
  width: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 25px;
  margin: 4px 2px;
  color: white;
  font-family: "Bangers";
  transition: 0.3s;
}

.signup-button:hover {
  background-color: rgb(243, 70, 70, 0.2);
  color: rgb(243, 70, 70);
  cursor: pointer;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
