.Tag_setup {
  background-color: red;
}
.Tag_whole {
  line-height: 16px;
  margin-left: 50px;
  background-color: aqua;
}
.ant-tag-checkable-checked {
  background-color: red;
}
.TagName {
  float: left;
  margin-right: 10px;
  font-size: 20px;
  margin-right: 30px;
}
.InTag1 {
  width: 80px;
  height: 30px;
  line-height: 20px;
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
  text-align: center;
}
.InTag2 {
  width: 80px;
  height: 30px;
  line-height: 20px;
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
  //text-align: center;
}
.TagLayout {
  float: left;
}
.TagLayout1 {
  float: left;
}
