.RegisterMain {
  float: right;
  margin: 10%;
  //  padding: 10%;
  background-color: aqua;
  height: 100px;
  width: 80%;
}
.RegisterTitle {
  font-size: 30px;
  text-align: left;
  border-bottom: red solid;
  //border-style: solid;
  background-color: blue;
}
.RegisterImage {
  float: left;
  margin-left: 10%;
  margin-top: 5%;
  border: 3px dashed red;
  border-radius: 2em;
}
.Register_Image {
  height: 100px;

  margin-top: 50px;
  margin-left: 70px;
  margin-right: 70px;
}
.RegisterImgae_Text {
  margin-bottom: 40px;
  font-size: 40px;
}
.Register_Name {
  background-color: seagreen;
  text-align: left;
  font-size: 20px;
  margin-left: 40px;
  margin-bottom: 30px;
}
.Register_Name_text {
  border: 2px solid red;
  margin-left: 30px;
  width: 200px;
  margin-right: 30px;
}
.Register_Category {
  background-color: steelblue;
  text-align: left;
  font-size: 20px;
  margin-bottom: 30px;
}

.SelectBox1 {
  border: 2px solid red;
  margin-left: 30px;
  font-size: 20px;
}

.Register_data {
  float: left;
  margin-top: 5%;
  margin-left: 5%;
}
.Confirm {
  float: left;
  margin-top: 30px;
  margin-left: 350px;
}
.Confirmbtn {
  background-color: #e94444;
  font-style: inherit;
  color: white;
  height: 40px;
  width: 90px;
}
// .Nutrition_Title {
//   float: left;
//   margin-left: -10px;
// }
.Amount .Calories .Carbo .Chol .Fat .Protein .Sodium .Suger {
  //float: left;
  // flex-direction: column;
  margin-top: 10px;
  background-color: yellow;
}
.Amount {
  margin-top: 10px;
  width: 180px;
  height: 30px;
  //margin-bottom: 30px;
}
.Calories {
  margin-top: 10px;
  width: 180px;
  height: 30px;
}
.Carbo {
  margin-top: 10px;
  width: 180px;
  height: 30px;
}
.Chol {
  margin-top: 10px;
  width: 180px;
  height: 30px;
}
.Fat {
  margin-top: 10px;
  width: 180px;
  height: 30px;
}
.Protein {
  margin-top: 10px;
  width: 180px;
  height: 30px;
}
.Sodium {
  margin-top: 10px;
  width: 180px;
  height: 30px;
}
.Suger {
  margin-top: 10px;
  width: 180px;
  height: 30px;
}
.ntitle {
  color: white;
  background-color: #e94444;
  //height: 30px;
  font-size: 18px;
  //margin-bottom: 30px;
  //margin-top: 20px;
}
.Nu_Title {
  float: left;
  margin-top: 10px;
  //background-color: #9b8e1a;

  color: black;
  font-size: 30px;
}
.Nutrition_register {
  float: left;
  margin-right: 600px;
  width: 100px;
  margin-top: -10px;
  flex-direction: column;
  display: flex;
  // background-color: #44d6e9;
}
.mtitle {
  margin-bottom: 10px;
}
